body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calc-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.screen {
    grid-column: span 4;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    height: 30px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.key {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.key:hover {
    background-color: #ddd;
}



.result {
    background-color: #f39c12;
    color: #fff;
}

.clear {
    background-color: #e74c3c;
    color: #fff;
}

.operation {
    background-color: #3498db;
    color: #fff;
}